.StorageArea_SearchBar {
    margin: 20px 0 20px 0;
    width: 97%;
}


.StorageArea_Footer {
    margin: 20px 0 0 0 !important;
}

.StorageArea_Footer h3 {
    text-align: left;
    margin-left: 20px;
}

.StorageArea_SearchBar {
    margin: 20px 0 20px 0;
}